<a href="https://colab.research.google.com/github/xersuy/pandas_10min_study/blob/main/pandas_10min_class_01_29.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

판다스 

데이터 분석을 할 때 쓸 수 있는 라이브러리

대용량 데이터를 로드, 분석하는데, 최적화가 되어 있다.

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
  {"a" : [4, 5, 6],
  "b" : [7, 8, 9],
  "c" : [10, 11, 12]},
  index = [1, 2, 3])
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [3]:
df["a"]

1    4
2    5
3    6
Name: a, dtype: int64

In [4]:
df["b"]

1    7
2    8
3    9
Name: b, dtype: int64

In [5]:
df.loc[1]

a     4
b     7
c    10
Name: 1, dtype: int64

In [6]:
df.loc[3]

a     6
b     9
c    12
Name: 3, dtype: int64