<a href="https://colab.research.google.com/github/xersuy/pandas_10min_study/blob/main/pandas_10min_class_12_29.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Reshaping Data

**melt, pivot으로 Tidy Data 만들기**

In [ ]:
import pandas as pd
import numpy as np

In [6]:
 df = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
                    'B': {0: 1, 1: 3, 2: 5},
                    'C': {0: 2, 1: 4, 2: 6}})
 df

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

In [8]:
pd.melt(df, id_vars=['A'], value_vars=['B','C'])

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5
3  a        C      2
4  b        C      4
5  c        C      6

In [12]:
# .rename(columns={'variable': 'var', 'value':'val'}) 메소드체이닝
pd.melt(df, value_vars=['A','B','C']).rename(columns={'variable': 'var', 'value':'val'})

  var val
0   A   a
1   A   b
2   A   c
3   B   1
4   B   3
5   B   5
6   C   2
7   C   4
8   C   6

In [15]:
df2 = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two',
                            'two'],
                    'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                    'baz': [1, 2, 3, 4, 5, 6],
                    'zoo': ['x', 'y', 'z', 'q', 'w', 't']})

df2

   foo bar  baz zoo
0  one   A    1   x
1  one   B    2   y
2  one   C    3   z
3  two   A    4   q
4  two   B    5   w
5  two   C    6   t

In [16]:
df2.pivot(index='foo', columns='bar', values='baz')

bar  A  B  C
foo
one  1  2  3
two  4  5  6

In [20]:
# 인덱스를 새로 만듬
df3 = df2.pivot(index='foo', columns='bar', values='baz').reset_index()
df3

bar  foo  A  B  C
0    one  1  2  3
1    two  4  5  6

In [22]:
df3.melt(id_vars=['foo'], value_vars=['A','B','C'])

   foo bar  value
0  one   A      1
1  two   A      4
2  one   B      2
3  two   B      5
4  one   C      3
5  two   C      6

In [28]:
df3.melt(id_vars=['foo'], 
         value_vars=['A','B','C']).sort_values(
             ['foo','bar']).rename(columns={'value':'baz'})

   foo bar  baz
0  one   A    1
2  one   B    2
4  one   C    3
1  two   A    4
3  two   B    5
5  two   C    6