<a href="https://colab.research.google.com/github/xersuy/pandas_10min_study/blob/main/pandas_10min_class_04_29.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Subset Observations
## **Logic in Python -and, or, not, xor, any, all 연산 이해하기**

In [ ]:
import pandas as pd

In [ ]:
# 중복된 값들을 추가
df = pd.DataFrame(
            {
              "a" : [4, 5, 6, 6],
              "b" : [7, 8, 9, 9],
              "c" : [10, 11, 12, 12]
            },
            index = pd.MultiIndex.from_tuples(
              [('d', 1),('d', 2),('e', 2),('e', 3)], 
              names=['n', 'v'])
            )
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12
  3  6  9  12

In [ ]:
df = df.drop_duplicates(keep="last")
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 3  6  9  12

In [ ]:
df[df["b"] != 7]

     a  b   c
n v
d 2  5  8  11
e 3  6  9  12

In [ ]:
"""
TypeError: only list-like objects are allowed to be passed to isin(), you passed a [int]
리스트만 받을 수 있다.
"""
df['a'].isin([5, 6])

n  v
d  1    False
   2     True
e  3     True
Name: a, dtype: bool

In [ ]:
import numpy as np
df = pd.DataFrame(
            {
              "a" : [4, 5, 6, 6, np.nan],
              "b" : [7, 8, np.nan, 9, 9],
              "c" : [10, 11, 12,np.nan, 12]
            },
            index = pd.MultiIndex.from_tuples(
              [('d', 1),('d', 2),('e', 2),('e', 3),('e', 4)], 
              names=['n', 'v'])
            )
df

       a    b     c
n v
d 1  4.0  7.0  10.0
  2  5.0  8.0  11.0
e 2  6.0  NaN  12.0
  3  6.0  9.0   NaN
  4  NaN  9.0  12.0

In [ ]:
pd.isnull(df)

         a      b      c
n v
d 1  False  False  False
  2  False  False  False
e 2  False   True  False
  3  False  False   True
  4   True  False  False

In [ ]:
df['a'].isnull().sum()

1

In [ ]:
pd.notnull(df)

         a      b      c
n v
d 1   True   True   True
  2   True   True   True
e 2   True  False   True
  3   True   True  False
  4  False   True   True

In [ ]:
df.notnull().sum()

a    4
b    4
c    4
dtype: int64

In [ ]:
# df.a.notnull()
~df.a.notnull()

n  v
d  1    False
   2    False
e  2    False
   3    False
   4     True
Name: a, dtype: bool

* &,|,~,^,df.any(),df.all()
* and, or, not, xor, any, all

In [ ]:
df.any()

a    True
b    True
c    True
dtype: bool

In [ ]:
df.all()

a    True
b    True
c    True
dtype: bool

In [ ]:

df[(df.b > 7) & (df.a == 5)]

       a    b     c
n v
d 2  5.0  8.0  11.0