<a href="https://colab.research.google.com/github/xersuy/pandas_10min_study/blob/main/pandas_10min_class_06_29.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import seaborn as sns #데이터 시각화 툴

In [3]:
df = sns.load_dataset('iris')

df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [9]:
columns = ['sepal_width', 'sepal_length', 'species']

df[columns].head()

   sepal_width  sepal_length species
0          3.5           5.1  setosa
1          3.0           4.9  setosa
2          3.2           4.7  setosa
3          3.1           4.6  setosa
4          3.6           5.0  setosa

In [8]:
# 특정컬럼만 가져올 수 있다.
df['sepal_width']

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: sepal_width, Length: 150, dtype: float64

In [10]:
# 아래와 같이 할 경우 한글 같은 값을 불러오기 어려우니 대괄호를 이용
df.sepal_width

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: sepal_width, Length: 150, dtype: float64

In [13]:
# 정규식으로 컬럼을 필터링이 된다.
# _바가 들어간 컬럼을 가져오고 싶다.
df.filter(regex='\_')

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [14]:
# length 로 끝나는 컬럼만 가져오고 싶다.
df.filter(regex='length$')

     sepal_length  petal_length
0             5.1           1.4
1             4.9           1.4
2             4.7           1.3
3             4.6           1.5
4             5.0           1.4
..            ...           ...
145           6.7           5.2
146           6.3           5.0
147           6.5           5.2
148           6.2           5.4
149           5.9           5.1

[150 rows x 2 columns]

In [15]:
# 특정 컬럼으로 시작되는 값을 가져오고 싶다.
df.filter(regex="^sepal")

     sepal_length  sepal_width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

In [16]:
# se로시작하는것
df.filter(regex="^se")

     sepal_length  sepal_width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

In [17]:
df.filter(regex='es$')

       species
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
..         ...
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 1 columns]

In [20]:
"""
^(carrot)은 not으로도 사용을 한다.
그래서 species 을 제외하고 나머지 컬럼을 가져온다.
"""
df.filter(regex='^(?!species$).*')

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [22]:
df.loc[:,'sepal_width':'petal_width']

     sepal_width  petal_length  petal_width
0            3.5           1.4          0.2
1            3.0           1.4          0.2
2            3.2           1.3          0.2
3            3.1           1.5          0.2
4            3.6           1.4          0.2
..           ...           ...          ...
145          3.0           5.2          2.3
146          2.5           5.0          1.9
147          3.0           5.2          2.0
148          3.4           5.4          2.3
149          3.0           5.1          1.8

[150 rows x 3 columns]

In [23]:
# 범위를 지정해서 컬럼에 대한 값을 지정을 할 수 있다.
# 행 , 열 배치 인덱스 번호를 포함
df.loc[2:5,'sepal_width':'petal_width']

   sepal_width  petal_length  petal_width
2          3.2           1.3          0.2
3          3.1           1.5          0.2
4          3.6           1.4          0.2
5          3.9           1.7          0.4

In [29]:
"""
loc와 iloc의 차이는 
loc[2:5] 는 해당 인덱스 즉 5를 포함된 인덱스를 가져온다.

iloc[2:5]은 해당 인덱스 전 값까지 즉 4까지 값을 가져온다.
:은 전체 행

"""
df.iloc[2:5 ,[1,2,4]]

   sepal_width  petal_length species
2          3.2           1.3  setosa
3          3.1           1.5  setosa
4          3.6           1.4  setosa

In [34]:
df = sns.load_dataset('iris')

df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [35]:
#  ,comma를 기준으로 행과 열을 나눌 수 있다.
#     [        행       ]     ,  [                열           ] 
df.loc[df['sepal_width'] > 10, ['sepal_length','sepal_width']]

Empty DataFrame
Columns: [sepal_length, sepal_width]
Index: []

In [37]:
df.loc[df['sepal_width'] < 5, ['sepal_length','sepal_width']]

     sepal_length  sepal_width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

In [32]:
df.loc[df['sepal_width'] > 3, ['sepal_length','sepal_width']]

     sepal_length  sepal_width
0             5.1          3.5
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
5             5.4          3.9
..            ...          ...
140           6.7          3.1
141           6.9          3.1
143           6.8          3.2
144           6.7          3.3
148           6.2          3.4

[67 rows x 2 columns]