<a href="https://colab.research.google.com/github/xersuy/pandas_10min_study/blob/main/pandas_10min_class_10_29.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Make New Cloumns
**assign 으로 새로운 컬럼 만들기**  
**qcut으로 binning, bucketing 하기**

In [1]:
import pandas as pd
import numpy as np

In [8]:

df = pd.DataFrame({'A': range(1, 11), 'B': np.random.randn(10)})

df

    A         B
0   1 -1.805996
1   2 -0.070921
2   3  1.189149
3   4  0.715444
4   5 -1.205683
5   6 -0.123353
6   7 -1.259841
7   8 -1.507640
8   9  1.135716
9  10  0.434130

In [13]:
# 새로운 컬럼을 만들수 있다.
df.assign(Area=lambda x: np.log(x.A)).head()

   A         B      Area
0  1 -1.805996  0.000000
1  2 -0.070921  0.693147
2  3  1.189149  1.098612
3  4  0.715444  1.386294
4  5 -1.205683  1.609438

In [17]:
df['ln_A'] = np.log(df.A)
df.head()

   A         B      ln_A
0  1 -1.805996  0.000000
1  2 -0.070921  0.693147
2  3  1.189149  1.098612
3  4  0.715444  1.386294
4  5 -1.205683  1.609438

In [22]:
"""
  qcut은 
  qcut에 n이라는 인자가 가운데 들어가는데, n개의 bucket수 만큼 bin을 컬럼을 만든다
"""
#A컬럼을 가져와서 3개의 버켓으로 나눈다.
pd.qcut(df.A, 3, labels=['good', 'medium', 'bad'])

0      good
1      good
2      good
3      good
4    medium
5    medium
6    medium
7       bad
8       bad
9       bad
Name: A, dtype: category
Categories (3, object): ['good' < 'medium' < 'bad']

In [25]:
pd.qcut(df.B, 2, labels=['good', 'bad'])

0    good
1     bad
2     bad
3     bad
4    good
5    good
6    good
7    good
8     bad
9     bad
Name: B, dtype: category
Categories (2, object): ['good' < 'bad']

In [26]:
df.max(axis=1)

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     7.0
7     8.0
8     9.0
9    10.0
dtype: float64

In [27]:
df.max(axis=0)

A       10.000000
B        1.189149
ln_A     2.302585
dtype: float64

In [29]:
df.min(axis=1)

0   -1.805996
1   -0.070921
2    1.098612
3    0.715444
4   -1.205683
5   -0.123353
6   -1.259841
7   -1.507640
8    1.135716
9    0.434130
dtype: float64

In [28]:
df.min(axis=0)

A       1.000000
B      -1.805996
ln_A    0.000000
dtype: float64

In [34]:
# 임계치를 정해줄 수 있다.
df['B'].clip(lower=2, upper=5)

0    2.0
1    2.0
2    2.0
3    2.0
4    2.0
5    2.0
6    2.0
7    2.0
8    2.0
9    2.0
Name: B, dtype: float64

In [40]:
# 절대값
# -값들을 특정 컬럼을 주면 특정컬럼에 대해서는 절대값으로 보여줌
df.abs()

      A         B      ln_A
0   1.0  1.805996  0.000000
1   2.0  0.070921  0.693147
2   3.0  1.189149  1.098612
3   4.0  0.715444  1.386294
4   5.0  1.205683  1.609438
5   6.0  0.123353  1.791759
6   7.0  1.259841  1.945910
7   8.0  1.507640  2.079442
8   9.0  1.135716  2.197225
9  10.0  0.434130  2.302585

In [42]:
df['B'].abs()

0    1.805996
1    0.070921
2    1.189149
3    0.715444
4    1.205683
5    0.123353
6    1.259841
7    1.507640
8    1.135716
9    0.434130
Name: B, dtype: float64