<a href="https://colab.research.google.com/github/xersuy/pandas_10min_study/blob/main/pandas_10min_class_07_29.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Summarize Data

In [36]:

import pandas as pd
# 시각화 할 때 사용하는 seaborn
import seaborn as sns
import numpy as np

In [6]:
df = sns.load_dataset('iris')
# 150개의 데이터가 있다.
df.shape

(150, 5)

In [11]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [10]:
# 각각 데이터가 50개씩 있다는 것을 확인 수 있다.
df['species'].value_counts()

setosa        50
virginica     50
versicolor    50
Name: species, dtype: int64

In [12]:
df['sepal_width'].value_counts()

3.0    26
2.8    14
3.2    13
3.4    12
3.1    11
2.9    10
2.7     9
2.5     8
3.5     6
3.8     6
3.3     6
2.6     5
2.3     4
3.6     4
2.4     3
2.2     3
3.7     3
3.9     2
4.2     1
4.1     1
4.4     1
2.0     1
4.0     1
Name: sepal_width, dtype: int64

In [15]:
"""
위 추출한 데이터를 다시 데이타 프레임으로 사용을 하고 싶을시 
DataFrame에 넣어준다.
"""

pd.DataFrame(df['sepal_width'].value_counts())

     sepal_width
3.0           26
2.8           14
3.2           13
3.4           12
3.1           11
2.9           10
2.7            9
2.5            8
3.5            6
3.8            6
3.3            6
2.6            5
2.3            4
3.6            4
2.4            3
2.2            3
3.7            3
3.9            2
4.2            1
4.1            1
4.4            1
2.0            1
4.0            1

In [16]:
# 행의 갯수를 알 수 있다.
len(df)

150

In [17]:
# 행의 갯수를 shape로도 알 수 있다.
# shape는 행과 열을 알 수 있다.
df.shape

(150, 5)

In [18]:
# 행만 가져올 수 있다.
df.shape[0]

150

In [20]:
# 비교도 가능하다.
len(df) == df.shape[0]

True

In [21]:
# 유니크한 값을 찾아준다.
df['species'].nunique()

3

In [28]:
df['sepal_width'].nunique()

23

In [30]:
"""
기본적으로 수치형 데이터에 대한 통계값을 보여줌
그래서 species 값이 보여지지 않음
"""
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [32]:
"""
  include로 값을 전부 가져오되 없는 값은 NaN으로 들어가짐
"""
df.describe(include='all')

        sepal_length  sepal_width  petal_length  petal_width species
count     150.000000   150.000000    150.000000   150.000000     150
unique           NaN          NaN           NaN          NaN       3
top              NaN          NaN           NaN          NaN  setosa
freq             NaN          NaN           NaN          NaN      50
mean        5.843333     3.057333      3.758000     1.199333     NaN
std         0.828066     0.435866      1.765298     0.762238     NaN
min         4.300000     2.000000      1.000000     0.100000     NaN
25%         5.100000     2.800000      1.600000     0.300000     NaN
50%         5.800000     3.000000      4.350000     1.300000     NaN
75%         6.400000     3.300000      5.100000     1.800000     NaN
max         7.900000     4.400000      6.900000     2.500000     NaN

In [35]:
# np의 오브젝타 타입만 보여주고 싶다.
df.describe(include=[np.object])

       species
count      150
unique       3
top     setosa
freq        50

In [40]:
# 숫자값만 보여주고 싶다.
"""
  count 갯수	
  mean 평균값
  std	표준편차
  min	최소값
  25%	값
  50%	값
  75%	값
  max	최대값
"""
df.describe(include=[np.number])

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
"""
sum()

count()

median()

quantile([0.25,0.75])

apply(function)

min()

max()

mean() 평균

var() 분산 

std() 평균 편차를 계산함

"""

In [41]:
df['petal_width'].sum()

179.90000000000003

In [42]:
df['petal_width'].count()

150

In [46]:
df['petal_width']

0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: petal_width, Length: 150, dtype: float64

In [45]:
# 중간값
df['petal_width'].median()

1.3

In [47]:
# 평균값
df['petal_width'].mean()

1.199333333333334

In [50]:
# 모든 연산자는 컬럼을 지정하지 않으면 전체에 대해서 값을 연산해준다.
df.mean()

sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
dtype: float64

In [48]:
df['petal_width'].quantile([0.25,0.75])

0.25    0.3
0.75    1.8
Name: petal_width, dtype: float64

In [52]:
df.min()

sepal_length       4.3
sepal_width          2
petal_length         1
petal_width        0.1
species         setosa
dtype: object

In [53]:
df.max()

sepal_length          7.9
sepal_width           4.4
petal_length          6.9
petal_width           2.5
species         virginica
dtype: object

In [54]:
#표준 편차
df.var()

sepal_length    0.685694
sepal_width     0.189979
petal_length    3.116278
petal_width     0.581006
dtype: float64

In [55]:
df.std()

sepal_length    0.828066
sepal_width     0.435866
petal_length    1.765298
petal_width     0.762238
dtype: float64